@font-face {
   font-family: 'ofont.ru_Departura';
   font-display: swap;
   src: url('file:///C:/Users/Natka/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-08-22_201224/fonts/ofont.ru_Departura/font.ttf');
}
